<h1> Data Science Tools and Ecosystem</h1>

<em> In this notebook, Data Science Tools and Ecosystem are summarized. </em>

<p> Some of the popular languages that Data Scientists use are: </p>
<ol type=1>
    <li> Python </li>
    <li> R Language</li>
    <li> Java </li>
    <li> Java Script</li>
</ol>

<p> Some of the commonly used libraries used by Data Scientists include:</p>
<ol type=1>
    <li> Pandas</li>
    <li> ggplot</li>
    <li> Keras</li>
    <li> Mplotlib</lib>
</ol>

<p> Table of Data Science tools</p>
<table align=left border=1 solid>
    <tr>
        <th>Data Science Tools </th>
    </tr>
    <tr>
        <td> Jupyter Notebook</td>
    </tr>
    <tr>
        <td> IBM Watson </td>
    </tr>
    <tr>
        <td> R Studios </td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [9]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4) + 5)

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
def Convert_Mins_to_Hours():
    print(str(round((200/60), 3)) +" Minutes")
Convert_Mins_to_Hours()

3.333 Minutes

<p> Objectives:</p>
<ul>
    <li> List popular languages for Data Science</li>
    <li> Commonly used libraries used by Data Scientists</li>
    <li> Table of Data Science tools</li>
    <li> Evaluating arithmetic expressions in Python </li>
</ul>

<h2>Author</h2>
<p>Kok Sun Chia</p>