<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<H1>My Jupyter Notebook on IBM Watson Studio</H1>

<p><strong> Kok Sun Chia</strong></p>

<em>I am interested in data science because it can transform the raw data to useful information and benefits to humankind. </em>

<h3>The following code is to print the Sum of 2 integers</h3>

In [10]:
def print_sum_int(a,b):
    print (int(a)+int(b))
print_sum_int(1,2)

3

<hr>
<p> Things that I've learned from this tutorial:</p>
<ul>
    <li>Doing report using Jupyter notebook</li>
    <li>Learn some HTML coding</li>
</ul>
<hr>
<p>
<table align=center>
    <tr> 
        <th> Name</th>
        <th> Data</th>
    </tr>
    <tr> 
        <td> Name 1</td>
        <td> Data 1</td>
    </tr>   
    <tr> 
        <td> Name 2</td>
        <td> Data 2</td>
    </tr>  
    <tr> 
        <td> Name 3</td>
        <td> Data 3</td>
    </tr>
    <tr>
        <td> Name 4</td>
        <td> Data 4</td>
    </tr>
</table>

<img src="https://www.ibm.com/brand/experience-guides/developer/8f4e3cc2b5d52354a6d43c8edba1e3c9/02_8-bar-reverse.svg" alt="IBM Logo" width="100">

<a href="www.ibm.com">www.ibm.com</a>